.upload {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.days {
  display: grid;
  grid-template-columns: 50% 50%;
}

.cabin-header {
  text-align: center;
}
.assistance {
  margin: 1rem;
  font-size: 1rem;
  text-align: right;
  padding-right: 2rem;
}

.day {
  margin: 2rem;
  padding: 2rem;
}

.cabin {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 15% auto 5%;
  page-break-after: always;
}
